<div class="br-list" role="list">
    <div class="br-item">
        <div class="lt-row" role="listitem">
            <div class="statistics__list-item">Número de propostas criadas </div>
            <div class="statistics__count text-blue-warm-vivid-70"> <%=statistics ? statistics.proposals_done : 0%> </div>
        </div>
    </div>
    <span class="br-divider"></span>
    <div class="br-item">
        <div class="lt-row" role="listitem">
            <div class="statistics__list-item">Número de contribuições feitas </div>
            <div class="statistics__count text-blue-warm-vivid-70"> <%=statistics ? statistics.comments_done : 0%> </div>
        </div>
    </div>
    <span class="br-divider"></span>
    <div class="br-item">
        <div class="lt-row" role="listitem">
            <div class="statistics__list-item">Número de votos dados </div>
            <div class="statistics__count text-blue-warm-vivid-70"> <%=statistics ? statistics.votes_done : 0%> </div>
        </div>
    </div>
    <span class="br-divider"></span>
    <div class="br-item">
        <div class="lt-row" role="listitem">
            <div class="statistics__list-item">Votos recebidos nas suas propostas </div>
            <div class="statistics__count text-blue-warm-vivid-70"> <%=statistics ? statistics.votes_received : 0%> </div>
        </div>
    </div>
    <span class="br-divider"></span>
    <div class="br-item">
        <div class="lt-row" role="listitem">
            <div class="statistics__list-item">Contribuições recebidas </div>
            <div class="statistics__count text-blue-warm-vivid-70"> <%=statistics ? statistics.comments_received : 0%> </div>
        </div>
    </div>
    <span class="br-divider"></span>
    <div class="br-item">
        <div class="lt-row" role="listitem">
            <div class="statistics__list-item">Número de propostas seguidas </div>
            <div class="statistics__count text-blue-warm-vivid-70"> <%=statistics ? statistics.follows_done : 0%> </div>
        </div>
    </div>
    <span class="br-divider"></span>
    <div class="br-item">
        <div class="lt-row" role="listitem">
            <div class="statistics__list-item">Seguidores nas suas propostas </div>
            <div class="statistics__count text-blue-warm-vivid-70"> <%=statistics ? statistics.follows_received : 0%> </div>
        </div>
    </div>
</div>