
  <div class="process-header br-container-lg">
    <div class="process-header__inner">
      <div class="process-header__main"
          style="background-image:url('<%= current_participatory_space.attached_uploader(:banner_image).path %>');">
      </div>

      <% if false %>
      <div class="process-header__container row collapse column">
        <div class="columns mediumlarge-8 process-header__info">
          <div>
            <h1 class="text-highlight heading2">
              <%= translated_attribute(current_participatory_space.title) %>
            </h1>
          </div>
          <div>
            <p class="text-highlight heading-small">
              <% if current_participatory_space.hashtag.present? %>
                <span class="process-header__hashtag">
                  <%= link_to "##{current_participatory_space.hashtag}", twitter_hashtag_url(current_participatory_space.hashtag), target: "_blank" %>
                </span>
              <% end %>
              <%= translated_attribute(current_participatory_space.subtitle) %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <%= render partial: "layouts/decidim/assembly_navigation", locals: { participatory_space: current_participatory_space } %>
